{% assign col_count = 3 %}
{% assign string = '' %}

{% for image in site.static_files %}
    {% if image.path contains include.folder %}
        {% assign string = string | append:image.path | append:"," %}
    {% endif %}
{% endfor %}

{% assign array = string | split:"," %}
{% assign array_size = array | size %}
{% assign division = array_size | divided_by: col_count %}
{% assign remainder = array_size | modulo: col_count %}
{% assign counter = 0 %}

<div class="grid">
{% for columns in (1..col_count) %}
    <div class="col-md-4">

    {% for index in (1..division) %}
    <div style="padding: 1%;">
            <div class="hover-container">
                    <a href="{{ array[counter] }}" alt="Click to enlarge" target="_blank" class="hover-background">
                        <p class="hover-textbox">Click to Enlarge</p>
                    </a>
            
                    <img src="{{ array[counter] }}" alt="image" style="width: 100%; display: block;"/>
                </div>
                </div>
        {% assign counter = counter | plus: 1 %}
    {% endfor %}

    {% if remainder > 0 %}
    <div style="padding: 1%;">
    <div class="hover-container">
            <a href="{{ array[counter] }}" alt="Click to enlarge" target="_blank" class="hover-background">
                <p class="hover-textbox">Click to Enlarge</p>
            </a>
    
            <img src="{{ array[counter] }}" alt="image" style="width: 100%; display: block;"/>
        </div>
        </div>
        {% assign counter = counter | plus: 1 %}
        {% assign remainder = remainder | minus: 1 %}
    {% else %}
        </div>
    {% endif %}

{% endfor %}
</div>