<div class="grid nav-full-styles">
<div class="col-sm-12 nav wrapper"> 
  <div class="hamburg"><img src="/assets/img/menu.svg"/></div>
      <ul>
        <li>
        <a class="nav-link" href="/">Home</a>
      </li>
      {% for collections in site.collections reversed %}
    <li>
        <a href="/{{ collections.label }}">{{ collections.label }}</a>
      </li>
      {% endfor %}

    {% for page in site.html_pages %}

      {% assign isCollection = false %}
      {% assign lowercaseTitle = page.title | downcase %}

        {% for collection in site.collections %}
          {% if collection.label == lowercaseTitle %}
            {% assign isCollection = true %}
          {% endif %}
        {% endfor %}

      {% if page.category == "main" %}
        {% if isCollection == false %}
            <li>
              <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endif%}
      {% endif%}

      {% assign isCollection = false %}
    {% endfor %}
    </ul>
</div>
</div>
