.center
{
    text-align: center;
}

hr.divstrip
{
    text-align: center;
    width: 40%;
    border: 1px solid black;
}

.bar
{
    background-color: $main-background-color;
    font-weight: normal;
    font-size: 34px;
    padding: 12px 0;
    text-align: center;
    margin: 12px 0;
    color: $text-color;
    a
    {
        color: $text-color;
    }
}

.mdiv
{
    margin-bottom: $sitewide-island-divide;
}