///// grid settings /////

$breaks: (
    sm: 0px,
    md: 600px,
    lg: 900px
);

$divisions: 12;

$max: 900px;

///// end grid settings /////

.grid
{
    flex-wrap: wrap;
    display: flex;
    flex-grow: 1;
}

//rows

[class^="col-"]
{
    flex: 0 0 100%;
    box-sizing: border-box;
    max-width: 100%;
}

@each $key, $value in $breaks
{
    @media (min-width: $value)
    {
        @for $count from 1 through $divisions
        {
            .col-#{$key}-#{$count}
            {
                flex: 0 0 (100% * ($count / $divisions));
                max-width: (100% * ($count / $divisions));
            }
        }
    }
}

.col-fill
{
    flex: 1 0;
}

.col-fixed
{
    flex: 0 0;
}

//wrapper util

.wrapper
{
  max-width: $max;
  margin-left: auto;
  margin-right: auto;
}

$pad-size: 10px;
.wrapper-pad
{
    max-width: $max;// + ($pad-size * 2);
    padding: 0 $pad-size;
    margin-left: auto;
    margin-right: auto;
}

.big-wrapper
{
    min-height: 100%;
    position: relative;
}