//VARIABLES

$sitewide-fonts: Helvetica, Arial, sans-serif;
$sitewide-base-font-size: 20px;
$sitewide-island-divide: 10px;


$content-island-color: #fcfcfc;

//END VARIABLES

html
{
  overflow-y: scroll;
  height: 100%;
}

body
{
  background-color: $content-island-color;
  word-wrap: break-word;
  height: 100%;
  font-family: $sitewide-fonts;
  font-size: 20px;
}

//top-level content background
div.content-island
{
    background-color: $content-island-color;
    padding:  10px 20px;
}