$mobile-breakpoint: md;
$font-size: 22px;
$main-background-color: #131313;
$nested-background-color: #313131;
$text-color: #fcfcfc;
$border-color: $text-color;

.mbg
{
  background-color: $main-background-color;
}

div.nav {
  position: relative;
  font-size: $font-size;
  div.hamburg {
    background-color: $main-background-color;
    display: none;
    text-align: left;
    img {
      display: inline-block;
      vertical-align: top;
      padding-left: 10px;
      width: 60px;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    background-color: $main-background-color;
    li {
      float: left;
      position: relative;
      text-transform: capitalize;
      a {
        display: block;
        padding: 20px 14px;
        text-decoration: none;
        color: $text-color;
        text-align: center;
      }
      a:hover {
        background-color: $border-color;
        color: $main-background-color;
      }
      a:hover ~ ul,
      ul:hover,
      a:active ~ ul {
        display: block;
      }

      ul {
        background-color: $nested-background-color;
        position: absolute;
        display: none;
        width: auto;
        li {
          display: block;
          white-space: nowrap;
          width: 100%;
          border-bottom: 1px solid $border-color;
          a {
            padding: 8px 10px;
          }
        }
        li:first-child {
          border-top: 1px solid $border-color;
          background-color: $main-background-color;
        }
      }
    }
  }

  //break for mobile
  @media (max-width: map-get($breaks, $mobile-breakpoint)) {
    div.hamburg {
      display: block;
    }
    ul {
      display: none;
      position: absolute;
      width: 100%; //change here for different width on small screen
    }
    div.hamburg:hover ~ ul,
    ul:hover,
    div.hamburg:active ~ ul {
      display: block;
    }
    ul {
      li {
        float: none;
        position: relative;
        border-top: 1px solid $border-color;
        a:hover ~ ul,
        ul:hover,
        a:active ~ ul {
          position: absolute;
          left: 100%;
          top: 0;
          width: 100%;
        }
      }
    }
  }
  //end mobile
}

//utility
.nav-full-styles
{
  background-color: $main-background-color;
}

.fixed-top-full
{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}