<div class="container">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="this.toggle = !this.toggle">Temporary Toggle</button>
    </div>
  </div>
</div>
<!--*** upload ***-->
<div class="container" *ngIf="!this.toggle">
  <br />
  <h2>UW-Stout C++ Security Vulnerability Checker</h2>
  <p>This tool will analyze your repository and provide both a full output of all
    vulnerabilities found and a graph representation of the vulnerabilities. Please
    upload your repository below and wait to be redirected to the results page.</p>
  <app-upload-form></app-upload-form>
</div>

<!--*** graphs ***-->

<app-graphs *ngIf="this.toggle"></app-graphs>