<!--*** upload ***-->
<div class="container" *ngIf="!this.toggle">
  <br />
  <h2>UW-Stout C++ Security Vulnerability Checker</h2>
  <p>This tool will analyze your repository and provide both a full output of all
    vulnerabilities found and a graph representation of the vulnerabilities. Please
    upload your repository below as a .zip and wait to be redirected.</p>
  <app-upload-form (newResponse)="newResponse($event)"></app-upload-form>
</div>

<!--*** graphs ***-->
<div  *ngIf="this.toggle">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="w-100, text-center">
          <button class="btn btn-primary btn-sm" (click)="this.toggle = false">Back</button>
          &nbsp;
          <button class="btn btn-secondary btn-sm" (click)="true">Download Full Report</button>
        </div>
      </div>
    </div>
  </div>
  <app-graphs *ngIf="this.toggle" [file]="this.file"></app-graphs>
</div>

<!-- devbar -->
<div class="container" *ngIf="!this.toggle">
  <div class="row">
    <div class="col-12">
      <p (click)="this.dev = !this.dev" style="text-decoration: underline; cursor: pointer; text-align: right;">Debug</p>
      <div *ngIf="this.dev" class="w-100, text-right">
        <button class="btn btn-secondary btn-sm" (click)="this.loadOutput(); this.dev = false;">Example Success</button><br/>
        <button class="btn btn-secondary btn-sm" (click)="this.loadError(); this.dev = false;">Example Error</button>
      </div>
    </div>
  </div>
</div>
