---
layout: page-hero
---

{{ content }}

<div class="grid">
        <div class="col-md-6">
                <h2 class="center">Phone</h2>
                <hr class="divstrip">
                <p class="center">
                    {{ page.phone }}
                </p>
        </div>

        <div class="col-md-6">
                <h2 class="center">Email</h2>
                <hr class="divstrip">
                <p class="center">
                    <a href="mailto:{{ page.email }}">{{ page.email }}</a>
                </p>
        </div>
</div>
