<!doctype html>
<html lang="en">
  <head>
    <!-- tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Head -->
    {% include head.html %}

    <!-- Title -->
    <title>{{ page.title | default: site.title }}</title>

  </head>
  <body>
    <div class="big-wrapper">
    <!-- Navbar -->
    {% include navbar.html %}

    <!-- Content -->
    <div class="wrapper-pad">
      {{ content }}
    </div>
    
  </div>
  </body>
</html>