---
layout: default
---

<div class="col-sm-12 content-island">
        <h1 class="bar">{{ page.title }}</h1>
        {{ content }}
    </div>
    
    {% for project in site.projects %}
      <div class="col-sm-12 content-island">
        <a href="{{ project.url }}">
          <p style="border-bottom: 1px solid black"><span style="font-weight: bold">{{ project.title }}</span> - {{ project.date | date_to_long_string }}</p>
        </a>
        {{ project.content | markdownify | strip_html | truncatewords: 50 }}...
      </div>
{% endfor %}